.affairBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
}

.affairBlock .low {
    color: green;
}

.affairBlock .middle {
    color: yellowgreen;
}

.affairBlock .high {
    color: red;
}